@import '../../assets/scss/mixins';

.note_page_con {
    height: 100vh;
    overflow-x: hidden;
    padding-bottom: 0px;
 
    .note_page::-webkit-scrollbar {
        width: 0.5em;
  
      }
       
      .note_page::-webkit-scrollbar-track {
        box-shadow: transparent;
      
      }
       
    &:hover {
    
       .note_page::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(165, 164, 164, 0.8);
        // max-height: 8em;
    
        @include respond(phone) {
            display: none;
        }
      
      }
    }


}


.note_page {
    padding: 40px 20px;
    height: 90vh;
    overflow-y: scroll;
    
  

    p {
        font-size: 15px;
        font-weight: 400;
    }
 

    .note_page_header {
       width: 100%;
       font-size: 12px;
       opacity: 0.6;

       .MuiSvgIcon-root {
         font-size: 18px;
         margin: 0px 5px 0px 0px;
       }

        ul {
            display: flex;
             margin: 0px;
             padding: 0px;
             list-style: none;
             margin-bottom: 20px;

            li {
                display: flex;
                margin: 0px 40px 0px 0px;
            }
        }

      
    }

    h6 {
        font-size: 18px;
        font-weight: 600;
        text-align: left;
    }
}