.with-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    height: 100vh;
}

.nodisplay_desktop {
    @media (min-width: 44.5em) {
        display: none;
    } 
}