.input_container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 100%;
    padding: 3px 0px;
    box-shadow:   2px 2px 2px 2px rgb(234, 232, 232);
   
    #styled_input {
        background-color: rgba(248, 244, 244, 0.2);
        border-radius: 20px;
        width: 90%;
        font-size: 12px;
        border: none;
      

        &:focus {
            border: none;
            outline: none;
        }
    }
}


