@import '../../assets/scss/mixins';

body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}





.notes {
    position: relative;
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
    .notes_con {
        padding-bottom: 70px;
        margin-top: 100px;
        height: 90vh;
        overflow-y: scroll;
        margin: 0px 8px;
    }
    .notes_con::-webkit-scrollbar {
        width: 1em;
      }
       
      .notes_con::-webkit-scrollbar-track {
        box-shadow: transparent;
      }
       
    &:hover {
    
       .notes_con::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(165, 164, 164, 0.8);

        @include respond(phone) {
            display: none;
        }
      
      }

    }

 
   


    header {
        position: relative;
        display: flex;
        padding: 15px 30px;
        box-shadow: 0px 12px 0px -4px rgba(245,240,240,1);
        -webkit-box-shadow: 0px 12px 0px -4px rgba(245,240,240,1);
        -moz-box-shadow: 0px 12px 0px -4px rgba(245,240,240,1);
        box-shadow:         0px 0px 6px 0px #ccc;
        z-index: 1;
        position: fixed;
        width: 50%;
        background-color: white;
        
        @include respond(phone) {
            width: 100%;
            
        }

        .searchbar_container {
            position: absolute;
            width: 60%;
            right: 0px;
           
           
            @include respond(phone) {
                display: none;
            }
        }
       


        @include respond(phone) {
            background-color: white;
            padding: 15px 8px;
            width: 100%;
            margin: 0px;
        }
        @include respond(tab-port) {
            background-color: white;
        }

        .header_title {
             span {
                padding: 0px 0px;
                font-size: 18px;
                color: rgb(6, 5, 5);
                opacity: 0.9;
             }

            @include respond(phone) {
                padding: 0px 15px;
            }

        }
    }

   
  

}