body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;

}


.notes {

    width: 100%;
    height: 100%;
    padding: 0px 20px;

    header {
        display: flex;
        padding: 20px 0px;


        .header_title {
            padding: 0px 10px;
            font-size: 18px;
            color: rgb(6, 5, 5);
            opacity: 0.9;

        }
    }

    .note_card_column {
        margin: 0px !important;
        padding: 4px !important;
    }

    .note_card {
        background-color: white;
        border: 1px solid white;
        width: 100%;
        margin: 5px 0px;
        padding: 10px 10px 0px 10px;
        word-wrap: break-word;


        .note_card_title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 20px;
            font-weight: bold;

        }

        .note_card_author {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            font-size: 12px;
            color: rgb(144, 143, 143);
        }



        .note-footer {
            display: flex;
            justify-content: space-between;
        }
        .note-like_icon {
            font-size: 18px !important;
            color: rgb(137, 132, 132) !important;
        }

       

        .note_liked {
            color: rgb(255, 0, 123) !important
        }

        .note-likes {
            padding: 2px 10px;
            color: rgb(137, 132, 132) !important;
        }

        .note-delete_icon {
            font-size: 18px !important;
            color: rgb(137, 132, 132) !important;
        }

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin-top: 5px;

            padding: 5px 10px;
        }

        .note_card_date {
            color: rgb(144, 143, 143);
            font-size: 12px;
        }
    }

}