@import '../../assets/scss/mixins';

body {
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;

}


.sidebar-display {
    @include respond(phone) {
        display: none;
    }

    @include respond(tab-port) {
        display: none;
    }
}

.dull-page {
    opacity: 0.8;

}
.sidebar_box {
    padding: 0px !important;
    margin: 0px !important;
}
.sidebar-displaymobile {
    width: 15rem;
    height: 100vh;
    position: absolute;
    left: 0px;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.sidebar_open  {
     transform: translateX(0%);
  }


.sidebar_close {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.all-notes_container {
    height: 100vh;
    overflow-y: hidden;
    background-color: rgba(234, 234, 234, 0.4);
    padding-bottom: 100px;
    background-color: rgba(243, 239, 239, 0.3);

    .nodisplayMobile {
        @include respond(phone) {
            display: none;
        }
    }

    @include respond(phone) {
        background-color: white;
        overflow-y: scroll;
        padding-bottom: 0px;

    }

    @include respond(tab-port) {
        background-color: white;
    }

    .all-notes_colummn {
        margin: 0px !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 100%;
    }
}