body {
    height: 100%;
    overflow-x: hidden;

}

.all-notes_container {
    height: 100vh;
    margin: 0px !important;
    background-color: rgba(234, 234, 234, 0.8);
    padding-bottom: 100px;

    .all-notes_colummn {
        margin: 0px !important;
        padding: 0px !important;
    }
}