@import '../../assets/scss/mixins';

.sidebar {
    padding: 0px 0px;
    height: 100vh;
    background-image: linear-gradient(to bottom, #062264, #052365, #052465, #042466, #042566, #042668, #042869, #04296b, #042b6f, #042e73, #043078, #04337c);
     width: 100%;
    .sidebar_user-name {
        margin: 0px 10px;
        font-size: 15px;
    }

    @include respond(phone) {
        padding: 20px 0px;
        margin: 0px 0px;
    }

    h6 {
        color: rgba(255, 255, 255, 0.836);
        text-align: center;
        font-size: 16px;

        @include respond(phone) {
            padding: 0px 20px;
            
        }

    }
    .sidebar_logo {
        padding: 15px 0px;
        // margin-right: 40px;
        border-bottom: 1px solid rgba(0, 0, 255, 0.5);
        width: 100%;
        font-family: 'Satisfy', cursive;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .sidebar_button {
        padding: 8px 22px;
        text-align: left;
        font-size: 14px;
        letter-spacing: 5px;
        color: rgb(0, 108, 196);
        margin-bottom: 20px;
        font-weight: 700 ;


        @include respond(phone) {
            display: none;
        }

    }



    .sidebar_footer {
        position: absolute;
    
        // opacity: 0.8;
        bottom: 0px;
        padding: 10px 20px;
        width: 100%;
        left: 0px;

        p {
            color: white;
        }

        .sidebar-logout:hover {
            background-color: rgba(0, 0, 255, 0.1);
        }

        .sidebar-logout {
            width: 100%;
            text-align: left;
            margin-top: 20px;
            background-color: transparent;
            font-size: 14px;
            color: white;
            border: 1px solid transparent;
            border-top: 1px solid rgba(0, 0, 255, 0.2);
            border-bottom: 1px solid rgba(0, 0, 255, 0.2);
            margin: 0px;
            position: absolute;
            left: 0px;
            bottom: 80px;
            transition: 0.2s;
            padding: 15px 5px;
        }

        .sidebar_copyright {
            color: rgba(255, 255, 255, 0.5);
            opacity: 0.8;
            margin-top: 10px;
            width: 100%;
            font-size: 14px;
            padding: 10px 5px;
            position: absolute;
            left: 0px;
            bottom: 10px;

             .MuiSvgIcon-root {
                font-size: 20px;
                color: white;
            }
        }
    }

    .sidebar-item {

        margin-bottom: 10px;
        padding-right: 50px;

        div {
            padding: 0px 20px;
            padding-top: 10px;


            text-align: left;

            span {
                color: rgba(176, 172, 172, 0.5) !important;
                padding: 0px 5px;
            }

            .MuiSvgIcon-root {
               font-size: 18px ;
               margin:0px 5px;
               color: rgba(176, 172, 172, 0.5);
            }
            p {
                font-size: 14px;
                color: rgba(176, 172, 172, 0.5);
                border-radius: 2px;
            }




        }

        .activesidebar-item {
            border-top: 1.5px solid rgba(32, 95, 182, 0.75);
            border-bottom: 1.5px solid rgba(32, 95, 182, 0.75);
            border-right: 1.5px solid rgba(32, 95, 182, 0.75);
            border-bottom-right-radius: 40px;
            border-top-right-radius: 40px;
            box-shadow: -7px 2px 30px -17px rgba(0,127,146,0.53) inset;
-webkit-box-shadow: -7px 2px 30px -17px rgba(0,127,146,0.53) inset;
-moz-box-shadow: -7px 2px 30px -17px rgba(0,127,146,0.53) inset;
            p {
                color: white;
            }


            .MuiSvgIcon-root {
                color: rgb(169, 206, 237);
            }


        }

    }
}