.sidebar {
    padding: 20px 20px;
    background-color: black;
    height: 100vh;

 
    h6 {
        color: rgba(255, 255, 255, 0.836);
        text-align: center;
        height: 5vh;
        font-size: 16px;
    }
    .sidebar_button {
        width: 100% !important;
        padding: 8px 20px !important;
        background:  #424CA0 !important;
        border-radius: 20px !important;
        text-align: left;
        border: 1px solid #042A2B !important;
        font-size: 18px;

    }

    .sidebar-logout {
        padding: 20px 20px;
        width: 100%;
        padding: 10px 20px;
        text-align: left;
        margin-top: 20px;
        background-color: transparent;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.836);
        border: 1px solid rgb(43, 42, 42);
    }

    .sidebar_footer {
        position: absolute;
        color: rgba(255, 255, 255, 0.836);
        bottom: 0px;
        font-size: 18px;
        padding: 10px 20px;
        border-top: 3px solid rgb(35, 34, 34);
        width: 100%;
        left: 0px;
    }

    .sidebar-item {
      
       margin-bottom: 10px;
       
      
         div { 
            padding: 0px 20px;
            padding-top: 10px;
            

            text-align: left;
                span {
                    color: white !important;
                    padding:0px 5px;
                }
               p {
                font-size: 18px;
                color: rgba(255, 255, 255, 0.836);
                border-radius: 2px;
               } 
               
             
            
          
        }
        .activesidebar-item {
            
            background-color: rgb(84, 82, 82);
             color: white;
            
           
        }
    
    }
}