@import '../../assets/scss/mixins';


.write-note {
    padding: 0px 10px;
    height: 100vh;
    position: fixed;
    border-left: 1px solid #b3afaf80;
    background-color: white;

    

    .write-note_privacy {
        padding: 0px 10px;
        padding-top: 17px;
        padding-bottom: 9px;
        width: 105%;
        margin-left: -9px;
        border-bottom: 1.5px solid #b3afaf80;
        font-size: 15px;
        label {
           
            color: rgb(140, 140, 140);
        }
        select {
            position: absolute;
            right: 10px;
            border: 1.5px solid #b3afaf80;
            outline: none;
            background-color: white;
            color: rgb(82, 82, 82);

        }
    }
    .write-note_con {
        height: 80vh;
        overflow-y: scroll;

        @include respond(phone) {
            height: 50vh;
        }
    }
    .write-note_con::-webkit-scrollbar {
        width: 0.5em;
      }
       
      .write-note_con::-webkit-scrollbar-track {
        box-shadow: transparent;
      }
    
       .write-note_con::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: darkgrey;
      
       }
     .write-note_errormessage {
         color: red;
         font-size: 12px;
         height: 5px;
         padding: 0px 5px;
     }
     .write-note_title::placeholder { 
         color: rgb(0, 0, 0);
         opacity: 1;
         font-size: 25px;
         letter-spacing: 1px;
         height: auto;
       }
    .write-note_title {
        width: 100%;
        height: 100%;
        font-size: 25px;
        margin: 10px 0px;
        outline: none;
        border: none;
        resize: none;
        overflow: hidden;

    }

    .write-note_content {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        resize: none;
        overflow: hidden;
    }
    .write-note_content::placeholder {
       font-size: 18px;
       opacity: 0.5;
    }

    .write-note_button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background:  #424CA0 !important;
        border: #424CA0 !important ;
        padding: 5px 30px !important;
    }
    .back-arrow {
        position: absolute;
        bottom: 30px;
        left: 20px;
        opacity: 0.8;
        display: flex;
        @media (min-width: 44.5em) {
            display: none;
    
        }
       
    }
}

.displayWritenoteMobile {
@include respond(phone) {
    padding: 0px 0px;
    width: 100%;
    border-left: none;
}
    
}